input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#mySplash {
  background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Nidalee_9.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#mainTable {
  background-color: black;
  opacity: 90%;
  /* border: 2px solid white; */
  border-collapse: collapse;
}

#lowerOpacity input{
  opacity: 100%;
}

.settingWidth {
  opacity: 80%;
}





.settingWidth {
    width: 130px !important;
    text-align: right !important;
    display: block;
}


@media only screen and (min-width: 992px) {

    .settingWidth {
        width: 125px !important;
        text-align: right !important;
        display: block;
    }

  }